.ui.inverted.vertical.footer.segment(style='margin-top:80px')
    .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
            .seven.wide.column
                h4.ui.inverted.header
                    a(href='faqs.php', target='_blank') About
                .ui.inverted.link.list
                    a.item(href='mailto:gxlhybh@gmail.com') Contact Us
                    a.item(href='opensource.php') OpenSource Announcement
            .seven.wide.column
                h4.ui.inverted.header Impressed by HUSTOJ
                p © CUP Online Judge 2017
script.
    var $logout = $(".logout");
    $logout.on('click', function () {
        $.get("/api/logout", function (data) {
            location.href = "../logout.php";
        });
    });
