link(href='static/semantic-ui/semantic.min.css', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='static/css/home.css')
link(href='static/css/katex.min.css', rel='stylesheet')
link(href='staic/css/judge.css')
